{% extends 'base.html.twig' %}

{% block title %}Tickets pour une période{% endblock %}

{% block body %}
    {% if issues is defined and period is defined %}
        <div class="container">
            <h2 class="text-center mt-5 mb-5">Période de recherche : {{ period }}</h2>
            <table class="table table-hover table-sm mt-5 mb-3">
                <thead>
                <tr class="text-center">
                    <th>Numéro</th>
                    <th>Priorité</th>
                    <th>Type de tracker</th>
                    <th>Plateforme</th>
                    <th>Crée le</th>
                    <th>Fermé le</th>
                    <th>Temps passé</th>
                    <th>Lien</th>
                </tr>
                </thead>
                <tbody>
                {% for issue in issues %}
                    <tr class="text-center">
                        <td>{{ issue.number }}</td>
                        <td>{{ issue.priority }}</td>
                        <td>{{ issue.type }}</td>
                        <td>{{ issue.platform }}</td>
                        <td>{{ issue.createdOn }}</td>
                        <td>{{ issue.closedOn }}</td>
                        <td>{{ issue.timeSpent }}</td>
                        <td><a href="#">{{ issue.link }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="mt-5 mb-3">
                {% include 'search/link.html.twig' %}
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}