{% if charts is defined %}
    {% if charts is not null %}
        <div id="reporting-charts" class="mt-5 mb-3">
            <hr/>
            <div class="text-center" id="reporting-priority-order">
                <input type="checkbox" id="priority-order" name="priority-order" value="priority-order" checked/>
                <label for="priority-order"> Ordre de priorité</label>
            </div>
            <div class="d-inline-flex flex-column m-0 float-right">
                <div class="m-0 charts-arrows-top" id="div-charts-arrows-top">
                    <a href="#reporting-{{ form is defined ? 'form' : 'infos' }}"
                       class="btn btn-light float-right"
                       role="button"
                       id="link-top-arrow-up">
                        <i class="fas fa-angle-up"></i>
                    </a>
                </div>
                <div class="m-0 charts-arrows-top">
                    <a href="#reporting-checkbox"
                       class="btn btn-light float-right"
                       role="button"
                       id="link-top-arrow-down">
                        <i class="fas fa-angle-down"></i>
                    </a>
                </div>
            </div>
            <div class="container mb-3 charts-margin" id="first-chart">
                <div class="row">
                    <div class="google-charts withoutPrio col-lg-6" id="ticketsTracker"></div>
                    <div class="google-charts withoutPrio col-lg-6" id="hoursTracker"></div>
                </div>
                <div class="row">
                    <div class="google-charts withPrio col-lg-6" id="ticketsTrackerPrio"></div>
                    <div class="google-charts withPrio col-lg-6" id="hoursTrackerPrio"></div>
                </div>
            </div>
            <div class="container mb-3 charts-margin">
                <div class="row">
                    <div class="google-charts withoutPrio col-lg-6" id="ticketsPlatform"></div>
                    <div class="google-charts withoutPrio col-lg-6" id="hoursPlatform"></div>
                </div>
                <div class="row">
                    <div class="google-charts withPrio col-lg-6" id="ticketsPlatformPrio"></div>
                    <div class="google-charts withPrio col-lg-6" id="hoursPlatformPrio"></div>
                </div>
            </div>
        </div>
        <div class="d-inline-flex flex-column m-0 float-right" id="div-arrows-middle">
            <div class="m-0 charts-arrows-middle">
                <a href="#reporting-charts"
                   class="btn btn-light float-right"
                   role="button"
                   id="link-chart-arrow-up">
                    <i class="fas fa-angle-up"></i>
                </a>
            </div>
            <div class="m-0 charts-arrows-middle" id="div-charts-arrows-middle">
                <a href="#reporting-{{ form is defined ? 'end' : 'link' }}"
                   class="btn btn-light float-right"
                   role="button"
                   id="link-chart-arrow-down">
                    <i class="fas fa-angle-down"></i>
                </a>
            </div>
        </div>

        {% set array = ['Console', 'Native', 'Perf', 'Publish', 'Support', 'Wordpress'] %}
        <div class="mt-3" id="reporting-checkbox">
            <hr/>
            <div class="d-flex justify-content-between">
                {% for item in array %}
                    <div class="text-center">
                        <input type="checkbox" id="input-charts-{{ item|lower }}"
                               name="charts-{{ item|lower }}" value="charts-{{ item|lower }}"/>
                        <label for="charts-{{ item|lower }}"> {{ item }}</label>
                    </div>
                {% endfor %}
            </div>
            <hr/>
        </div>
        {% for item in array %}
            <div class="container charts-margin mb-3" id="reporting-charts-{{ item|lower }}">
                <div class="row">
                    <div class="google-charts charts-plateforme withoutPrio col-lg-6" id="tickets{{ item }}"></div>
                    <div class="google-charts charts-plateforme withoutPrio col-lg-6" id="hours{{ item }}"></div>
                </div>
                <div class="row">
                    <div class="google-charts charts-plateforme withPrio col-lg-6" id="tickets{{ item }}Prio"></div>
                    <div class="google-charts charts-plateforme withPrio col-lg-6" id="hours{{ item }}Prio"></div>
                </div>
            </div>
        {% endfor %}
        <button class="btn btn-light float-right" id="bt-chart-arrow-up"><i class="fas fa-angle-up"></i></button>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            {% for key, chart in charts %}
            {{ gc_draw([ chart ],[ key ]) }}
            {% endfor %}
        </script>
    {% else %}
        <div>
            <hr/>
            <h2 class="text-center mb-5 mt-5">
                Graphique ne peut pas être affiché !
            </h2>
            <h4 class="text-center mb-5">
                Car les données pour créer de graphique ne sont pas correctes ou manquantes.
            </h4>
        </div>
    {% endif %}
{% endif %}

